<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023155540439-h969ugp4ka6t16276ao0lk0r2esdvdju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023155540439-h969ugp4ka6t16276ao0lk0r2esdvdju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023155540439-0e290i55k4278qrk00fpllp6ti6vvsfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlNVGYhEaXbf8wnT-rjrNusGikYfB8MWs</string>
	<key>GCM_SENDER_ID</key>
	<string>1023155540439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahakalguruji</string>
	<key>PROJECT_ID</key>
	<string>manalsoftech-6807e</string>
	<key>STORAGE_BUCKET</key>
	<string>manalsoftech-6807e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023155540439:ios:fe902af1f1ad9859bffb92</string>
</dict>
</plist>